@model QuestionViewModel

@{
    ViewData["Title"] = "Результат";
    bool isCorrect = (bool)ViewBag.IsCorrect;
    var allQuestions = ViewBag.AllQuestions;

    var currentIndex = allQuestions.IndexOf(Model.Id);
    var indexNextQuestion = allQuestions[currentIndex + 1];
}

<h2>@Model.Text</h2>

<p>@(isCorrect ? "Правильный ответ!" : "Неправильный ответ.")</p>

@if (!string.IsNullOrEmpty(ViewBag.Explanation))
{
        <p>Пояснение: @ViewBag.Explanation</p>
}

<a asp-controller="Marathon" asp-action="Question" asp-route-id="@indexNextQuestion">Следующий вопрос</a>

<br />
<br />
<a role="button" class="btn btn-secondary btn-lg mx-2" asp-controller="Home" asp-action="Index">Завершить Марафон</a>